.TodoItem{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-bottom: 1px solid #5bcae9;
}
.TodoItem-icon{
    width: 1.1em;
    height: 1.1em;
}
.TodoItem-Input{
    border-radius: 5px;
}
.hide{
    display:none;
}